#sidebar .sidebar-icon {
  width: 100%;
  padding: 3em;
}

.post-img.aa-brand {
  width: 11em;
  padding: 1em;
}

.center-image {
  margin: 0 auto;
  display: block;
}

.view-cap, .view-container-border {
  background-color: black;
}

.mv-daynames-table {
  color: white;
  background: black;
}

.mv-event-container {
  border-top: 1px solid black;
}
